[Unit]
Description=Tomcat 8.5 servlet container - Production
After=network.target

[Service]
Type=forking

ExecStart=/opt/apache-tomcat-9.0.41/bin/startup.sh
ExecStop=/opt/apache-tomcat-9.0.41/bin/shutdown.sh

User=ubuntu
Group=ubuntu   

[Install]
WantedBy=multi-user.target
